/* Estilo geral para a página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #007bff;
}

#formulario {
    display: flex; /* Adiciona flexbox ao formulário */
    flex-wrap: wrap; /* Permite quebra de linha se necessário */
    justify-content: space-around; /* Alinha os produtos com espaço ao redor */
    padding: 20px;
}

#form-container {
    display: flex;
    flex-direction: column; /* Mantém os elementos do formulário em coluna */
    align-items: flex-start;
    gap: 20px;
    width: 300px; /* Define a largura dos containers dos produtos */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form-container img {
    max-width: 100%; /* Ajusta a imagem para a largura do container */
    height: auto;
}

#formulario form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label,
input {
    margin-bottom: 10px;
}

input {
    padding: 5px;
    font-size: 1rem;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.footer-section {
    max-width: 300px;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #6c757d;
}
