@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap");

:root {
  --primary-color: #dcd7f8;
  --text-dark: #3f3b57;
  --text-light: #908ca3;
  --white: #ffffff;
  --max-width: 1200px;
}

/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

/* Utility classes */
.section__container {
  max-width: var(--max-width);
  padding: 5rem 1rem;
  margin: auto;
}

/* Header styles */
header {
  padding-top: 5rem;
  position: relative;
  isolation: isolate;
  background-color: var(--primary-color);
}

header__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: var(--white);
  z-index: -1;
}

header__container {
  padding-block: 2rem 0;
  display: grid;
  gap: 2rem;
}


